# MongoDB connection string
# Local MongoDB example: mongodb://127.0.0.1:27017/eCart
# Docker MongoDB service name: mongodb://mongodb:27017/eCart
MONGO_URI=mongodb://127.0.0.1:27017/eCart

# Secret key for JWT signing & verification
JWT_SECRET=SecureJWTSecretKey

# Server port to run on
PORT=3000
