<nav class="navbar">
  <div class="nav-brand">
    <span class="logo">eCart</span>
  </div>


  <ng-container *ngIf="authService.currentUser$ | async as user; else guestLinks">
<!-- The AuthService observable continuously broadcasts whether a user is logged in or not. The | async pipe automatically subscribes to this data to instantly update the UI, while as user stores that data into a local variable so we can easily check the user's role in the HTML. -->
    <div class="nav-links">
      <a routerLink="/home" class="nav-link">Home</a>
      <a routerLink="/about" class="nav-link">About Us</a>
      <a routerLink="/contact" class="nav-link">Contact Us</a>

      <a *ngIf="user.role === 'customer'" routerLink="/customer-dashboard" class="nav-link">My Cart ({{ cartService.cartCount$ | async }})</a>

      <a *ngIf="user.role === 'admin'" routerLink="/admin-dashboard" class="nav-link">Dashboard (Products)</a>

      <button (click)="logout()" class="nav-link login-btn" style="background-color: var(--danger-color);">Logout</button>
    </div>
  </ng-container>

  <ng-template #guestLinks>
    <div class="nav-links">
      <a routerLink="/home" class="nav-link">Home</a>
      <a routerLink="/about" class="nav-link">About Us</a>
      <a routerLink="/contact" class="nav-link">Contact Us</a>

      <a routerLink="/login" class="nav-link login-btn">Login / Signup</a>
    </div>
  </ng-template>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
